body,
html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


/* Shared between some sections */

.first,
.second {
  max-width: 1444px;
}


/* First section - Header / Hero */
.wrapper {
    background: #b868bcaa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 70px;
  }
  .first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  }
  .hero {
    display: flex;
    justify-content: space-around;
    align-items: center; 
  }
  a {
    text-decoration: none;
    color: #e5e7eb
  }
  ul {
    list-style: none;
  }
  .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
  }
  .links {
    color: #e5e5e5;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }
.heroleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2px;
}
  .firstheader {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900px;   
  }
  .subheader {
    font-size: 18px;
    color: #E5E7EB;
    display: block;
  }
  button {
    background-color:#3882F6;
    border-color:#3882F6;
    border-radius: 10px;
    color:#F9FAF8;
    padding:0;
    width:100px;
    height:30px;
  }
.heroright {
  display: flex;
}
img {
  flex: 1;
  object-fit: cover;
  max-height: auto;
  width: 350px;
  border-radius: 7px;
}
.heroleft .heroright {
  flex: 1 1 0;
} 

/* Second Section */
.second {
max-height: fit-content;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 40px;
  gap: 52px;
}

img {
  width: 220px;
  height: 300px;
}

.title {
  color:#b868bcaa;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  margin-top: 35px;
  margin-bottom: 32px;
}
.text {
  font-weight: 500;
color: #acafb5
}
.info {
max-width: 250px;
}
/* Thrid section + Quote */
.quote {
  background-color: #acafb5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
p {
  color: rgb(38, 35, 35);
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  max-width: 1000px;
}
.author {
  color: black;
  display: flex;
}