/* Header styling */
.header {
    background: #1F2937;
    border-bottom: 1px solid #ddd;
    display: flex;
    /* Something like that */
    flex-direction: column;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
  }
  .headhead {
display: flex;
flex-direction: row;
justify-content: space-between;

  }
  a {
    text-decoration: none;
    color: #e5e7eb
  }
  ul {
    list-style: none;
    color: ;
  }
  .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
  }
  .links {
    color: #e5e5e5;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }
  .main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900px;   
  }
  button {
      background-color: #3882F6;
      color:#f9faf8;
      display: flex;
  }
.pic {
  color: #f9faf8;
  background-color: #ddd;
}